@model Reservas.Models.ReservaLugar

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Reserva Lugar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalDaReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaReserva)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
