@model Reservas.Models.Reservas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2 style="padding-top: 10px">Fazer reserva</h2>

<p>Hello from our View Template!</p>

