@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Por favor verifique o seu correio eletrónico e confrime o seu endereço de email.
</p>
<p class="text-danger">
    Teste: Pode clicar neste endereço para confirmar o email: <a href="@ViewBag.Link">link</a>
    @*Please change this code to register an email service in IdentityConfig to send an email.*@
</p>
