@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>Confirmar correio eletrónico</h2>
<p class="text-info">
    Por favor confirme o seu correio eletrónico.
</p>
<p class="text-danger">
    Teste: Pode clicar neste endereço para confirmar o email: <a href="@ViewBag.Link">link</a>
    @*Please change this code to register an email service in IdentityConfig to send an email.*@
</p>
