@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Parking-a-lot é um sistema de estacionamento para que você tenha garantias que tenha um lugar no local que pretende estacionar.</p>
        <p>Faça já em casa a sua reserva!</p>
    </div>
</div>