@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>Contactos</h2>
</hgroup>
<div>
    <address>
        Rua ***<br />
        Tomar, 2300-***<br />
        <abbr title="Phone">Tel:</abbr>
        249******
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:parking-a-lot@example.com">parking-a-lot@example.com</a><br />
    </address>
</div>