@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar Função</h2>

<h3>Tem a certeza que pretende apagar esta função? </h3>
<p style="font-weight: bold; color:red">Lembre-se que se apagar esta função remove os utilizadores desta mesma, mas não os apaga.</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
